Flask==2.1.3
requests==2.28.1
pylint==2.14.5
gunicorn==20.1.0
pymongo==4.2.0
Flask-PyMongo==2.3.0
prometheus-client==0.14.1
prometheus-flask-exporter
jaeger-client==4.8.0
Flask-OpenTracing==1.1.0
opentracing==2.4.0
opentelemetry-api==1.11.1
opentelemetry-exporter-jaeger==1.11.1
opentelemetry-instrumentation-flask==0.12b0
opentelemetry-instrumentation-requests==0.12b0
opentelemetry-instrumentation==0.12b0
opentelemetry-sdk==1.11.1





